<div class="container">

    <div class="row">
        <div class="col title">
            <h1>Lista de personas <i class="fa-solid fa-user"></i></h1>
        </div>
        <div class="col">
            <div class="button">
                <button>Agregar   <i class="fa-solid fa-plus"></i> </button>
            </div>
        </div>
    </div>
    <!-- <h1>Lista de personas  </h1> -->
    <br>
    <table class="table">
        <thead style="background:orange; color:white">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre</th>
                <th scope="col">DNI</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row" style="color:blue;">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>
                    <i class="fa-solid fa-pen-to-square" style="color:green"
                    routerLink="/dashboard/editNews/edit-news"></i>
                <i class="fa-solid fa-trash" style="color:red"></i>
                </td>
            </tr>
        </tbody>
    </table>
</div>