<nav class="navbar ">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/pages/home"> Solvex <span style="color:orange">S</span> <span style="color:blue">X</span></a>
    <ul class="d-flex w-auto">
      <li routerLinkActive="active" routerLink="/pages/home">
        <i class="fa-solid fa-house"></i>
        <span> Inicio</span>
      </li>
      <li routerLinkActive="active" routerLink="/pages/person">
        <i class="fa-solid fa-user"></i>
        <span>Persona</span>
      </li>
      <li routerLinkActive="active" routerLink="/pages/queue">
        <i class="fa-solid fa-chart-simple"></i>
        <span>Cola</span>
      </li>
      <li routerLinkActive="active" routerLink="/pages/home">
        <i class="fa-solid fa-thumbtack"></i>
        <span>Persona/Cola</span>
      </li>
    </ul>
  </div>
</nav>