.container{
    padding: 20px;
    text-align: center;
    margin: 0 auto;
}



.cards{
    padding: 20px;
    margin: 10px;
}

.bloque{
    background-color:red;
    color: white;
    border: 2px solid black;
}