<div class="container">
    <h1 style="font-weight:900">Sistema de <span style="color:orange">Ticekts</span> </h1>
    <div class="row">
        <div class="col">
            <img src="assets/n1.png" alt="">
        </div>
        <div class="col">
            <div class="cards">
                <div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Personas</h5>
                                <i class="fa-solid fa-users"></i>
                                <p>20</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Colas</h5>
                                <i class="fa-solid fa-chart-simple"></i>
                                <p>20</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>