.container{
    padding: 20px;
    text-align: center;
    margin: 0 auto;
}



.cards{
    padding: 20px;
    margin: 10px;
}

.card{
    padding: 20px;

    .card-title{
        font-size: 30px;
        font-weight: 900;
    }

    i{
        padding: 20px;
        font-size: 50px;
        color:orange;
    }

    p{
        padding: 20px;
        font-size: 30px;
    }
}