.container{
    padding:30px;
    text-align: center;
}

.titulo{
    font-size: 80px;
    color: orange;
    font-weight: 900;
}

.titulo-h1{
    h1{
        font-size: 200px;
        font-weight: 900;
    }
}

button{
    border: none;
    border-radius: 20px;
    padding: 20px;
    background-color: orange;
    font-weight: 900;
    font-size: 20px;
    padding: 30px;
    color: white;
}